body {
  background-color: #292929;
}

#canvas-container {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}

#game {
  background-color: rgb(36, 36, 36);
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.75);
}
