@import "./defaults/reset";
@import "./defaults/normalize";
@import "./defaults/typography";

// Breakpoints and vars
@import "./responsive";
@import "./variables";

// Components
@import "./button";

// Page Styling
@import "./game/game";
@import "./about/about";

@import "./modal//modal";

.title {
  font-size: 4rem;
  font-style: italic;

  @include media("<=phone") {
    // Don't want the title to word wrap on mobile
    font-size: 3rem;
  }
}

.container {
  // self
  min-height: calc(100vh - 70px);

  margin: 0 auto;
  width: 75%;

  // order
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media("<=1250px") {
    width: 95%;
  }
}

label {
  font-size: 1.8rem;
  font-style: normal;
  font-family: "Montserrat";
}
