/* Montserrat bruh */
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap");

/* Reset stuff */
html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #ececec;
  color: rgb(0, 0, 0);
  letter-spacing: 0.1rem;
  font-size: 1.7rem;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  font-family: "Montserrat", sans-serif;
}
/* Reset stuff */

#canvas {
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
}

/* Game styling */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 4rem;
  font-style: italic;
}

.middle-container {
  display: flex;
  flex-wrap: wrap;
}

.game-container {
  text-align: center;
  padding: 1rem;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.controls button {
  width: 20%;
  height: 30px;
  margin: 1rem;
}

.presets {
  margin-top: 2rem;
}

.presets ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.presets ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.25rem 0;
}

.presets ul li button {
  height: 30px;
  width: 96px;
}

.bottom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid blue;
}

.rules h2 {
  text-align: center;
}

.source {
  text-align: center;
}

.repo-source {
  color: blue;
  text-decoration: none;
}
