@import "../responsive";

// Container for all game buttons, inputs, sliders, color pickers, etc
.game-controls {
  width: 15%;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);

  @include media("<=1250px") {
    // Move header text center and size container full width
    text-align: center;
    width: 100%;
  }
}

// Container for game buttons and sim speed slider
.game-options {
  display: flex;
  flex-direction: column;

  button {
    margin: 0.5rem 1rem;
  }

  @include media("<=1250px") {
    // Keeps sim speed slider from going wacky
    align-items: center;

    // Increase button size
    button {
      padding: 1rem 2.5rem;
    }
  }
}

// Buttons container (play, pause, etc)
.game-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include media("<=1250px") {
    // Move buttons to row order centered on screen
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

// Simulation speed slider
.game-speed {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 1rem;

  margin: 1rem 0;

  border-bottom: 1px solid rgba(0, 0, 0, 0.3);

  #game-speed-input {
    width: 80%;
    direction: rtl;
  }

  @include media("<=1250px") {
    display: block;
    text-align: center;
  }
}

// Grid / Cell size inputs
.board-sizing {
  display: flex;
  flex-direction: column;

  text-align: center;

  margin: 0 1rem;

  padding-bottom: 1rem;

  border-bottom: 1px solid rgba(0, 0, 0, 0.3);

  label {
    margin: 1rem;
  }

  #adjust-game-size-btn {
    margin: 1rem 0;
  }

  @include media("<=1250px") {
    display: block;
  }

  @include media("<=phone") {
    input {
      margin: 1rem 0;
    }
  }
}

// Color inputs
.cell-colors {
  display: flex;
  flex-direction: column;

  text-align: center;

  label {
    font-size: 1.6rem;
    margin: 0.5rem 0;
  }

  input {
    margin: 0 auto;

    width: 50%;
    height: 25px;
  }

  margin: 1rem 0;

  @include media("<=1250px") {
    width: 50%;
    margin: 1rem auto;
  }

  @include media("<=phone") {
    width: 100%;

    input {
      margin: 0.3rem auto;
      height: 30px;
    }
  }
}
