@import "./presets";
@import "./canvas";
@import "./controls";
@import "./sizing";
@import "./colors";

.game-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 100%;
}
