@import "./presets";
@import "./canvas";
@import "./controls";
@import "../responsive";

.game-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 100%;

  @include media("<=1250px") {
    flex-direction: column;
  }
}
